.features {
  padding-top: 15rem;
}

.features h2 {
  font-size: 4rem;
  font-weight: 400;
  text-align: center;
  margin-bottom: 3rem;
  margin-top: 4rem;
}

.tools-grid {
  display: grid;
  grid-template-columns: repeat(5, 108px);
  grid-template-rows: repeat(2, 108px);
  grid-gap: 0.9rem 1rem;
  justify-content: center;
  margin-bottom: 5rem;
}

.tool img {
  width: 100%;
  height: 100%;
}

.dashboard-img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  padding-bottom: 5rem;
}

/* Work hub grid */

.hub-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2.4rem;
  justify-content: center;
  padding-bottom: 2rem;
}

.hub-item {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--hub-item-bg);
  border-radius: 16px;
  padding: 2rem;
}

.hub-item img {
  width: 80px;
  height: 80px;
}

.hub-text {
  width: 60%;
}

.hub-text h4 {
  font-size: 2.3rem;
  margin: 0;
}

.hub-text p {
  color: var(--text-gray);
}

/* Security */

.security {
  margin-top: 6rem;
}

.security h2 {
  margin-bottom: 7rem;
}

.security-feat {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  margin: 0 auto;
}

.security-item {
  text-align: center;
}

.security-item i {
  font-size: 4rem;
  color: var(--security-color);
}

.security-item p {
  padding-top: 2.5rem;
}

/* Connectivity */

.connectivity {
  padding-top: 15rem;
  text-align: center;
}

.connectivity h2 {
  font-size: 4rem;
  margin-top: 12rem;
}

.btn-connect {
  display: inline-block;
  background-color: var(--btn-color);
  padding: 0.5rem 2.4rem;
  border-radius: 12px;
  transition: all 0.3s ease-in;
  margin-top: 6rem;
}

.btn-connect:hover {
  background-color: var(--btn-hover);
}

.connectivity .subtitle {
  font-size: 2.3rem;
}

/* Partner Logos */

.partner-logos {
  display: grid;
  grid-template-columns: repeat(6, min-content);
  justify-content: center;
  grid-column-gap: 5rem;
  padding-bottom: 5rem;
}

.partner-logos i {
  font-size: 3rem;
}
